body{
font-family: 'Poppins', sans-serif;
}
.contenido{
	width: 70vw;
	margin: 0 auto;
}
.contenido h2{
	text-align: center;
}
.flecha{
	display: none;
	background-color: #00FFD2;
	color: #ffffff;
	padding: 15px 20px;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 15px;
}